---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(https://fonts.gstatic.com/s/dancingscript/v9/If2RXTr6YS-zF4S-kcSWSVi_szLuiuQ.ttf) format('truetype');
}

.page-header {
	color: inherit;
	background-color: inherit;
	background-image: inherit;

	padding: 1rem 3rem;
}

.project-name {
	font-family: dancingscript-regular,dancing script,cursive;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	color: unset;
}

body {
	font-family: serif;
	color: #000000;
}

.main-content {
    text-align: justify;

  @include large {
    max-width: 64rem;
    padding: 0rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 0rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 0rem 1rem;
    font-size: 1rem;
  }
}