---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(https://fonts.gstatic.com/s/dancingscript/v9/If2RXTr6YS-zF4S-kcSWSVi_szLuiuQ.ttf) format('truetype');
}

.page-header {
	color: inherit;
	background-color: inherit;
	background-image: inherit;

	padding: 1rem 3rem;
}

.project-name {
	font-family: dancingscript-regular,dancing script,cursive;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	color: unset;
}

body {
	font-family: serif;
	color: #000000;
}

.main-content {
    text-align: justify;

  @include large {
    max-width: 64rem;
    padding: 0rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 0rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 0rem 1rem;
    font-size: 1rem;
  }
}

nav {
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #333;
	    white-space: nowrap;
	}

	li {
		display: table-cell;
	}

	li a {
	    display: inline-block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	/* Change the link color to #111 (black) on hover */
	li a:hover {
	    background-color: #111;
	}
}

#bossom {
	float: left;
	width: 100%;
	max-width: 300px;
	margin-right: 15px;

	@include small {
		float: none;
		display: block; 
		margin: 0 auto;
	}
}
